/* Base styles for the app */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.input-container,
.user-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  margin: 10px;
}

/* Flexbox styles for desktop view */
.main-container {
  display: flex;
  justify-content: space-between;
}

.input-container {
  flex: 1;
  margin-right: 20px;
}

.user-container {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 600px; /* Set a maximum height for the user container */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.user-card {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  margin-bottom: 20px;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

/* Styles for inputs and buttons */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .input-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .user-card {
    width: 100%;
  }

  .user-buttons {
    flex-direction: row;
  }

  .user-buttons button {
    margin-bottom: 10px;
    width:8rem;
  }

  .user-buttons button:last-child {
    margin-bottom: 10px;
  }
}
